<div class="selection-group">
  <div class="text-center">
    <%= image_tag current_end_user.get_profile_image(200,200), class: "rounded-circle" %>
    <p class="title"><%= current_end_user.nickname %></p>
    <p>
      フォロー数：
      <%= link_to end_user_followings_path(current_end_user.id) do %>
          <%= current_end_user.followings.count %>
        <% end %>
      フォロワー数：
      <%= link_to end_user_followers_path(current_end_user.id) do %>
        <%= current_end_user.followers.count %>
      <% end %>
      </p>
  </div>
</div>

<div class="mt-5 text-center">
  <%= link_to "/personal_index/#{current_end_user.id}", class: 'btn mr-5 ml-5 btn-outline-dark btn-lg' do %>
     <%= image_tag asset_path('diary_icon.png') %> Diary
  <% end %>
  <%= link_to end_user_favorites_path(current_end_user), class: 'btn  btn-outline-dark btn-lg' do %>
    <%= image_tag asset_path('iine.png') %> Favorite Diary
  <% end %>
</div>


<table class="table table-bordered text-center mt-5" >
  <tr>
    <th class="col-4">名前</th>
    <td class="col-8"><%= current_end_user.name %></td>
  </tr>
  <tr>
    <th>ニックネーム</th>
    <td><%= current_end_user.nickname %></td>
  </tr>
  <tr>
    <th>性別</th>
    <td><%= current_end_user.gender_i18n %></td>
  </tr>
  <tr>
    <th>スタート時体重</th>
    <td><%= current_end_user.start_weight %>kg</td>
  </tr>
  <tr>
    <th>目標体重</th>
    <td><%= current_end_user.objective_weight %>kg</td>
  </tr>
  <tr>
    <th>年齢</th>
    <td><%= current_end_user.age %>歳</td>
  </tr>
  <tr>
    <th>身長</th>
    <td><%= current_end_user.height %>cm</td>
  </tr>
  <tr>
    <th>活動レベル</th>
    <% if current_end_user.active_level.nil? %>
      <td>登録されていません</td>
    <% else %>
      <td><%= current_end_user.active_level_i18n %></td>
    <% end %>
  </tr>
  <tr>
    <th>基礎代謝</th>
    <td><%= render 'basal_metabolism' %></td>
  </tr>
  <tr>
    <th>１日あたりの摂取カロリー目安</th>
    <td><%= render 'consumed_calories' %></td>
  </tr>
  <tr>
    <th>メールアドレス</th>
    <td><%= current_end_user.email %></td>
  </tr>
</table>

<div class="justify-content-center row">
  <%= link_to "会員情報を編集する", edit_end_user_path, class: 'btn btn-success col-lg-5 mt-3' %>
</div>