<table class="table">
  <tr>
    <th>follow</th>
    <td>
      <%= link_to end_user_followings_path(end_user.id) do %>
        <%= end_user.followings.count %>
      <% end %>
    </td>
  </tr>
  <tr>
    <th>follower</th>
    <td>
      <%= link_to end_user_followers_path(end_user.id) do %>
        <%= end_user.followers.count %>
      <% end %>
    </td>
  </tr>
  <tr>
    <% if end_user.image.attached? %>
      <%= image_tag end_user.image, size: "200x200" %>
    <% else %>
      <%= image_tag 'end_user/no_image', size: "200x200" %>
    <% end %>
  </tr>
  <tr>
    <th>名前</th>
    <td><%= end_user.name %></td>
  </tr>
  <tr>
    <th>ニックネーム</th>
    <td><%= end_user.nickname %></td>
  </tr>
  <tr>
    <th>性別</th>
    <td><%= end_user.gender_i18n %></td>
  </tr>
  <tr>
    <%= link_to '日記を見る', diary_path(end_user) %>
  </tr>
</table>
