<h1>会員情報編集</h1>

<%= form_with model: @end_user do |f| %>
<table>
  <tr>
    <th><%= f.label:名前 %></th>
    <td><%= f.text_field :name, autofocus: true %></td>
  </tr>
  <tr>
    <th><%= f.label:ニックネーム %></th>
    <td><%= f.text_field :nickname %></td>
  </tr>
  <tr>
    <th><%= f.label:性別 %></th>
    <td><%= f.select :gender, EndUser.genders_i18n.keys.map{|k| [I18n.t("enums.end_user.gender.#{k}"), k]} %></td>
  </tr>
  <tr>
    <th><%= f.label:スタート時体重 %></th>
    <td><%= f.text_field :start_weight %></td>
  </tr>
  <tr>
    <th><%= f.label:目標体重 %></th>
    <td><%= f.text_field :objective_weight %></td>
  </tr>
  <tr>
    <th><%= f.label:年齢 %></th>
    <td><%= f.text_field :age %></td>
  </tr>
  <tr>
    <th><%= f.label:身長 %></th>
    <td><%= f.text_field :height %></td>
  </tr>
  <tr>
    <th><%= f.label:メールアドレス %></th>
    <td><%= f.text_field :email %></td>
  </tr>
  <tr>
    <td><%= f.submit '編集' %></td>
  </tr>
</table>


<% end %>