<div class="container">
  <h3 class="mini-title mb-3">編集画面</h3>

 <div class="justify-content-center">


<%= render "public/shared/error_messages", resource: @end_user %>

<%= form_with model: @end_user do |f| %>
<table class="table table-bordered text-center mt-5" >
  <tr>
    <th>プロフィール画像</th>
    <td>
      <%= image_tag current_end_user.get_profile_image(200,200), class: "rounded-circle" %>
      <%= f.file_field :profile_image, accept: "image/*" %>
    </td>
  </tr>
  <tr>
    <th><%= f.label:名前 %></th>
    <td><%= f.text_field :name, autofocus: true %></td>
  </tr>
  <tr>
    <th><%= f.label:ニックネーム %></th>
    <td><%= f.text_field :nickname %></td>
  </tr>
  <tr>
    <th><%= f.label:性別 %></th>
    <td><%= f.select :gender, EndUser.genders_i18n.keys.map{|k| [I18n.t("enums.end_user.gender.#{k}"), k]} %></td>
  </tr>
  <tr>
    <th><%= f.label:スタート時体重 %></th>
    <td><%= f.text_field :start_weight %></td>
  </tr>
  <tr>
    <th><%= f.label:目標体重 %></th>
    <td><%= f.text_field :objective_weight %></td>
  </tr>
  <tr>
    <th><%= f.label:年齢 %></th>
    <td><%= f.text_field :age %></td>
  </tr>
  <tr>
    <th><%= f.label:身長 %></th>
    <td><%= f.text_field :height %></td>
  </tr>
  <tr>
    <th><%= f.label:活動レベル %></th>
    <td>
      <%= f.select :active_level, EndUser.active_levels_i18n.keys.map{|k| [I18n.t("enums.end_user.active_level.#{k}"), k]} %><br>
      <p class="text-left">
        低い：生活の大部分を座って過ごし、あまり体を動かすことがない場合<br>
        普通：座っていることが多いが、職場内での移動や立っての作業、通勤・買い物・家事・軽いスポーツなどのいずれかを行う場合<br>
        高い：移動や立っての作業が多い仕事に従事している、または頻繁に運動を行う習慣がある場合<br>
      </p>
    </td>
  </tr>
  <tr>
    <th><%= f.label:メールアドレス %></th>
    <td><%= f.text_field :email %></td>
  </tr>
</table>
<div class="text-center mt-5 md-5">
  <%= f.submit '更新', class: 'btn btn-success mt-3' %>
</div>
<% end %>

<div class="justify-content-center row mt-5">
  <%= link_to "退会する", end_users_quit_path, class: 'btn btn-sm btn-danger btn-lg' %>
</div>

</div>
</div>