<h1>会員情報編集</h1>
<% unless  @end_user.image.blank? %>
  <%= image_tag @end_user.image, size: "100x100" %>
<% end %>

<%= render "public/shared/error_messages", resource: @end_user %>
<%= form_with model: @end_user do |f| %>
<table class="table">
  <tr>
    <th>プロフィール画像</th>
    <td>
      <%= f.file_field :image, accept: "image/*" %>
      <%= link_to 'プロフィール画像を削除する', end_users_image_destroy_path, method: :delete %>
    </td>
  </tr>
  <tr>
    <th><%= f.label:名前 %></th>
    <td><%= f.text_field :name, autofocus: true %></td>
  </tr>
  <tr>
    <th><%= f.label:ニックネーム %></th>
    <td><%= f.text_field :nickname %></td>
  </tr>
  <tr>
    <th><%= f.label:性別 %></th>
    <td><%= f.select :gender, EndUser.genders_i18n.keys.map{|k| [I18n.t("enums.end_user.gender.#{k}"), k]} %></td>
  </tr>
  <tr>
    <th><%= f.label:スタート時体重 %></th>
    <td><%= f.text_field :start_weight %></td>
  </tr>
  <tr>
    <th><%= f.label:目標体重 %></th>
    <td><%= f.text_field :objective_weight %></td>
  </tr>
  <tr>
    <th><%= f.label:年齢 %></th>
    <td><%= f.text_field :age %></td>
  </tr>
  <tr>
    <th><%= f.label:身長 %></th>
    <td><%= f.text_field :height %></td>
  </tr>
  <tr>
    <th><%= f.label:活動レベル %></th>
    <td><%= f.select :active_level, EndUser.active_levels_i18n.keys.map{|k| [I18n.t("enums.end_user.active_level.#{k}"), k]} %></td>
    <td>
      低い：生活の大部分を座って過ごし、あまり体を動かすことがない場合<br>
      普通：座っていることが多いが、職場内での移動や立っての作業、通勤・買い物・家事・軽いスポーツなどのいずれかを行う場合<br>
      高い：移動や立っての作業が多い仕事に従事している、または頻繁に運動を行う習慣がある場合<br>
    </td>
  </tr>
  <tr>
    <th><%= f.label:メールアドレス %></th>
    <td><%= f.text_field :email %></td>
  </tr>
  <tr>
    <td><%= f.submit '編集' %></td>
  </tr>
</table>


<% end %>