<div class="container">
  <div class="row mb-3">
    <div class="col-lg-8">
      <h3 class="mini-title">いいね一覧</h3>
    </div>
  </div>

<% if @favorite_diaries.empty? %>
  いいねした日記はありません
<% else %>

  <div class="row">
      <% @favorite_diaries.each do |diary|%>
        <div class="col-lg-4 mb-5">
          <div class="new_item">
            <div class="tag">
              <%= link_to diary_path(diary.id),class: "text-decoration-none" do %>
                <%= image_tag item.get_image(200, 150) %>
              <% end %>
              <div class="index">
                <div class="bat-index ">
                  <p><%= diary.title %></p>
                  <p><%= diary.body %></p>
                  <div class="favorite-btn_<%= item.id %>">
                    <%= render 'public/favorites/favorite', item: item %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
  <% end %>
  </div>
