<div class="container">
  <h3 class="mini-title mb-3">会員一覧</h3>
  <div class="justify-content-center row">
    <table class="text-center mt-5">
      <% @end_users.each do |end_user| %>
        <tr>
          <td><%= image_tag end_user.get_profile_image(100,100), class: "rounded-circle"  %></td>
          <td>
            <%= link_to end_user_path(end_user) do %>
              <%= end_user.nickname %>
            <% end %>
          </td>
          <% if current_end_user != end_user %>
            <td id="follow_btn_<%= end_user.id %>">
              <%= render 'public/relationships/btn', end_user: end_user %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
</div>