<h1>ユーザー一覧</h1>
<% @end_users.each do |end_user| %>
<table>
  <tr>
    <th>
      <% if end_user.image.attached? %>
        <%= image_tag end_user.image, size: "100x100" %>
      <% else %>
        <%= image_tag asset_path "no_image.png", size: "100x100" %>
      <% end %>
    </th>
    <th>
      <%= link_to end_user_path(end_user) do %>
        <%= end_user.name %>
      <% end %>
    </th>
    <% if current_end_user != end_user %>
    <th id="follow_btn_<%= end_user.id %>">
      <%= render 'public/relationships/btn', end_user: end_user %>
    </th>
    <% end %>
  </tr>
</table>
<% end %>