<h1>ユーザー一覧</h1>
<% @end_users.each do |end_user| %>
<table>
  <tr>
    <th><%= image_tag end_user.get_profile_image(100,100), class: "rounded-circle"  %></th>
    <th>
      <%= link_to end_user_path(end_user) do %>
        <%= end_user.nickname %>
      <% end %>
    </th>
    <% if current_end_user != end_user %>
    <th id="follow_btn_<%= end_user.id %>">
      <%= render 'public/relationships/btn', end_user: end_user %>
    </th>
    <% end %>
  </tr>
</table>
<% end %>