<div class="container">
<div class="justify-content-end row mt-5">
  <%= search_form_for @q, url: search_end_users_path, class: "search-form" do |f| %>
    <%= f.text_field :nickname_cont, placeholder: "ユーザーを検索" %>
    <%= f.submit '検索' %>
  <% end %>
</div>

<div class="container">
  <h3 class="mini-title text-center mt-3">User</h3>
  <div class="justify-content-center row">
    <table class="text-center mt-5">
      <% @end_users.each do |end_user| %>
        <% unless end_user == current_end_user && (end_user.is_deleted == false) %>
          <tr>
            <td><%= image_tag end_user.get_profile_image(100,100), class: "rounded-circle"  %></td>
            <td>
              <%= link_to end_user_path(end_user) do %>
                <% if end_user.nickname.empty? %>
                  <p>匿名希望さん</p>
                <% else %>
                  <%= end_user.nickname %>
                <% end %>
              <% end %>
            </td>
            <% if current_end_user != end_user %>
              <td id="follow_btn_<%= end_user.id %>">
                <%= render 'public/relationships/btn', end_user: end_user %>
              </td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>
</div>

</div>