<%= form_with model: food, url: admin_foods_path do |f| %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :introduction %><br>
    <%= f.text_field :introduction %>
  </div>
  <div class="field">
    <%= f.label :calorie %><br>
    <%= f.text_field :calorie %>
  </div>
  <div class="field">
    <%= f.label :protein %><br>
    <%= f.text_field :protein %>
  </div>
  <div class="field">
    <%= f.label :carbohydrate %><br>
    <%= f.text_field :carbohydrate %>
  </div>
  <div class="field">
    <%= f.label :fat %><br>
    <%= f.text_field :fat %>
  </div>
  <div class="field">
    <%= f.label :fiber %><br>
    <%= f.text_field :fiber %>
  </div>
  <div class="actions">
    <%= f.submit "登録" %>
  </div>
<% end %>