<h1>食品一覧</h1>
<%= link_to '食品登録', new_admin_food_path %>

<% @foods.each do |food| %>
  <table class="table">
    <tr>
      <th>食品名</th>
      <th>概要</th>
      <th>カロリー</th>
      <th>タンパク質</th>
      <th>炭水化物</th>
      <th>脂質</th>
      <th>食物繊維</th>
    </tr>
    <tr>
      <td><%= food.name %></td>
      <td><%= food.introduction %></td>
      <td><%= food.calorie %>kcal</td>
      <td><%= food.protein %>g</td>
      <td><%= food.carbohydrate %>g</td>
      <td><%= food.fat %>g</td>
      <td><%= food.fiber %>mg</td>
    </tr>
  </table>
<%=link_to '詳細', admin_food_path(food) %>
<% end %>
