<div class="nested-fields">
    <%= food.hidden_field :id, value: food.object.id %>
    <%= food.select :food_id, options_from_collection_for_select(Food.all, :id, :name, :food_id), {prompt: '選択してください'}, class: "chosen1" %>
    <%= food.label :quantity, '×' %>
    <%= food.select :quantity, *[1..10] %>
    <%= link_to_remove_association '削除', food , class: "btn" %>
</div>

<script>
  $(function() {
   $(".chosen1").chosen({
      no_results_text:"ありません",
      search_contains:true,
      class: ""
    });
  });
</script>