<%= form_with model: meal, local:true do |f| %>

  <!--食事詳細登録フォーム-->
  <div>
    <%= f.select :meal_type, Meal.meal_types_i18n.keys.map{|k| [I18n.t("enums.meal.meal_type.#{k}"), k]}, { prompt: '選択してください' }, class: "form-control" %>
    <%= f.datetime_select :record_time, value: Time.current.strftime('%Y-%m-%dT00:00:00'), class: "form-control" %>
  </div>


  <!--フォームを追加する場所-->
  <div id="food-track-forms">
    <!--食品登録フォーム-->
    <%= f.fields_for :meal_details do |f| %>
      <%= render 'add_form', food: f %>
    <% end %>
  </div>

  <!--トラックの追加フォームをするボタン-->
  <div class="btn rounded-pill">
    <%= link_to_add_association '＋食品追加',
                                # form_withのformタグ変数
                                f,
                                # フォームのデータを追加するモデル名
                                :meal_details,
                                # 追加するフォームの部分テンプレート
                                partial: "add_form",
                                # オプション
                                data: {
                                  # フォームを追加する場所の指定
                                  association_insertion_node: '#food-track-forms',
                                  # フォームを前後どの位置に追加するか。(初期値: before)
                                  association_insertion_method: 'append'
                                },
                                # フォームオブジェクトを指定する場合(初期値 : f)
                                form_name: 'food', class: "btn"  %>
  </div>

  <div class="field text-center">
    <%= f.submit "登録", class: "btn btn-success" %>
  </div>

<% end %>