<div class="container">
    <!--検索フォーム-->
  <div class="justify-content-end row mt-5">
    <%= render 'public/meals/search_form', q: @q %>
  </div>

  <h3 class="mini-title mb-3 text-center">食事記録</h3>
  <%= render 'public/shared/error_messages', resource: @meal %>
  <div class="selection-group">
    <div class="mr-5"><%= image_tag asset_path('eat.png'), size: "300x200" %></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>
    <div class="justify-content-center row mr-5 mt-5">
      <%= render 'public/meals/form', meal: @meal %>
    </div>
  </div>
  <!--今日の食事-->
  <h3 class="mini-title mb-3 text-center mt-5"><%= Time.current.strftime("%Y年%m月%d日(%a)") %></h3>
   <div class="selection-group">
    <div class="text-center rounded-pill" style="background-color:pink; width:300px; padding:15px;">
      <strong><p class="mini-title mb-3">今日の摂取カロリー合計</p></strong>
      <%= @today_calorie_sum %>kcal
      <% unless current_end_user.active_level == nil %>
        /<%= render 'public/end_users/consumed_calories' %>（目標）
      <% end %>
    </div>
  </div>

  <div class="text-center">
    <%= render 'public/meals/index', meals: @today_meals_list  %>
  </div>

</div>