<div class="container">
    <!--検索フォーム-->
  <div class="justify-content-end row mt-5">
    <%= render 'public/meals/search_form', q: @q %>
  </div>

  <h3 class="mini-title mb-3">食事記録</h3>
  <div class="justify-content-center row mr-5">
    <%= render "public/shared/error_messages", resource: @meal %>
    <%= render 'public/meals/meal_form', meal: @meal %>
  </div>

  <!--今日の食事-->
  <h3 class="mini-title mb-3 text-center mt-5"><%= Time.current.strftime("%Y年%m月%d日(%a)") %></h3>
  <div class="row justify-content-center">
    <div class="text-center rounded-pill" style="border: 1px solid pink; width:300px;">
      <strong><p class="mini-title mb-3">今日の摂取カロリー合計</p></strong>
      <%= @today_calorie_sum %>kcal
      <% unless current_end_user.active_level == nil %>
        /<%= render 'public/end_users/consumed_calories' %>（目標）
      <% end %>
    </div>
  </div>

  <div class="text-center">
    <%= render 'public/meals/index', meals: @today_meals_list %>
  </div>

</div>