<%= render 'public/meals/meal_form', meal: @meal %>

<h1>今日の摂取カロリー合計</h1>
<%= @today_calorie_sum %>kcal
<% unless current_end_user.active_level == nil %>
/<%= render 'public/end_users/consumed_calories' %>（目安）
<% end %>

<%= render 'public/meals/search_form', q: @q %>
<h1>今日の食事一覧</h1>
<%= render 'public/meals/index', meals: @today_meals_list %>