<h1>食事登録</h1>

<%= form_with model: @meal, local:true do |f| %>
  <%= f.select :meal_type, Meal.meal_types_i18n.keys.map{|k| [I18n.t("enums.meal.meal_type.#{k}"), k]}, {prompt: '選択してください'} %>
  <%= f.datetime_field :record_time, value: Time.current.strftime('%Y-%m-%dT00:00:00') %>
  <br>



  <div id="food-track-forms">
    <%= f.fields_for :meal_details do |f| %>
      <%= render 'form', food: f %>
    <% end %>
  </div>
  <!--トラックの追加フォームをするボタン-->
  <%= link_to_add_association '＋別の食品を追加',
                              # form_withのformタグ変数
                              f,
                              # フォームのデータを追加するモデル名
                              :meal_details,
                              # 追加するフォームの部分テンプレート
                              partial: "form",
                              # オプション
                              data: {
                                # フォームを追加する場所の指定
                                association_insertion_node: '#food-track-forms',
                                # フォームを前後どの位置に追加するか。(初期値: before)
                                association_insertion_method: 'after'
                              },
                              # フォームオブジェクトを指定する場合(初期値 : f)
                              form_name: 'food'  %>
  <br>
  <div class="field">
    <%= f.submit "登録" %>
  </div>
<% end %>


<h1>今日の摂取カロリー合計</h1>
<%= @today_calorie_sum %>kcal
<% unless current_end_user.active_level == nil %>
/<%= render 'public/end_users/consumed_calories' %>（目安）
<% end %>

<h1>今日の食事一覧</h1>
<% if @today_meals_list.count == 0 %>
  <p>食事が登録されていません</p>
<% else %>
  <% @today_meals_list.each do |meal| %>
    <%= meal.meal_type_i18n %>
    <%= meal.record_time.strftime("%H:%M") %>
    <% meal.meal_details.each do |d| %>
      <%= d.food.name %>
      <%= d.quantity %>
    <% end %>
    <%= link_to '詳細', meal_path(meal.id) %>
    <%= link_to '編集', edit_meal_path(meal.id) %>
    <%= link_to '削除', meal_path(meal.id), method: :delete %>
    <br>
  
  <% end %>
<% end %>

<%= link_to '全ての食事履歴を見る', meals_all_index_path%>