<div class="container">
  <h3 class="mini-title mb-3 text-center mt-5">
    検索結果(
    <% if params[:q].present? && params[:q][:record_time_gteq].present? %>
      <%= params[:q][:record_time_gteq] %>
    <% end %>
    〜
    <% if params[:q].present? && params[:q][:record_time_lteq_end_of_day].present? %>
      <%= params[:q][:record_time_lteq_end_of_day] %>
    <% end %>
    )
  </h3>
  
<% if @results.empty? %>
  まだ食事はありません！
<% else %>
  <% @results.each do |meal| %>
      <table class="table table-bordered text-center mt-5">
      <tr>
        <th>
        <%= meal.meal_type_i18n %>
        <%= meal.record_time.strftime("%Y/%m/%d %H:%M") %>
        <%= link_to edit_meal_path(meal.id) do %>
            <i class="fa fa-pen"></i>
        <% end %>
        </th>
        <th>
          <% meal_calorie_sum = 0 %>
          <% meal.meal_details.each do |meal_detail| %>
            <% meal_calorie_sum += meal_detail.calorie_subtotal %>
          <% end %>
          <%= meal_calorie_sum %>kcal
        </th>
      </tr>
      <tr>
        <td>
        <% meal.meal_details.each do |d| %>
          <%= d.food.name %>
          <%= d.quantity %>人前
          <br>
        <% end %>
        </td>
        <td>
          <%= link_to "詳細", meal_path(meal.id) %>
        </td>
      </tr>
      </table>
  <% end %>
<% end %>

  
  <div class="row justify-content-center"><%= paginate @results %></div>

</div>