<div class="container">
    <div class="row">
        <div>
            <h3 class="mini-title mb-3"><%= @meal.record_time.strftime("%Y年%m月%d日(%a) %H:%M") %></h3>
            <%= link_to edit_meal_path(@meal.id) do %>
                <i class="fa fa-pen"></i>
            <% end %>
            <h3 class="mini-title mb-3"><%= @meal.meal_type_i18n %></h3>
        </div>
        <table class="table table-bordered text-center mt-5">
            <tr>
                <th>食品</th>
                <th>数量</th>
                <th>タンパク質</th>
                <th>炭水化物</th>
                <th>脂質</th>
                <th>食物繊維</th>
                <th>カロリー小計</th>
            </tr>
            <% @meal_details.each do |meal_detail| %>
            <tr>
                <td><%= meal_detail.food.name %></td>
                <td><%= meal_detail.quantity %></td>
                <td><%= meal_detail.protein_subtotal %>g</td>
                <td><%= meal_detail.carbohydrate_subtotal %>g</td>
                <td><%= meal_detail.fat_subtotal %>g</td>
                <td><%= meal_detail.fiber_subtotal %></td>
                <td><%= meal_detail.calorie_subtotal %>kcal</td>

                <% @calorie_sum += meal_detail.calorie_subtotal %>
                <% @protein_sum += meal_detail.protein_subtotal %>
                <% @carbohydrate_sum += meal_detail.carbohydrate_subtotal %>
                <% @fat_sum += meal_detail.fat_subtotal %>
                <% @fiber_sum += meal_detail.fiber_subtotal %>
            </tr>
            <% end %>
        </table>

        <% unless @meal_details.count == 1 %>
            <table class="table table-bordered text-center mt-5">
                <tr>
                    <th>タンパク質合計</th>
                    <th>炭水化物合計</th>
                    <th>脂質合計</th>
                    <th>食物繊維合計</th>
                    <th>カロリー合計</th>
                </tr>
                <tr>
                    <td><%= @protein_sum %>g</td>
                    <td><%= @carbohydrate_sum %>g</td>
                    <td><%= @fat_sum %>g</td>
                    <td><%= @fiber_sum %>mg</td>
                    <td><%= @calorie_sum %>kcal</td>
                </tr>
            </table>
        <% end %>
        
        <div class="selection-group">
            <%= link_to '一覧へ', meals_path %>
        </div>
        
    </div>
</div>