<% if end_users.exists? %>
  <table class="text-center mt-5">
    <% end_users.each do |user| %>
    <tr>
      <td><%= image_tag user.get_profile_image(100,100), class: "rounded-circle"  %></td>
      <td>
        <%= link_to end_user_path(user) do %>
          <%= user.nickname %>
        <% end %>
      </td>
    <% if current_end_user != user %>
      <td id="follow_btn_<%= user.id %>">
        <%= render 'public/relationships/btn', end_user: user %>
      </td>
    <% end %>
      </tr>
    <% end %>
  </table>
<% else %>
  <p>ユーザーはいません</p>
<% end %>