<div class="container">
  <div class="selection-group-top">
    <%= link_to meals_path, class: 'pt-5 mr-3 btn btn-outline-dark btn-lg' do %>
       <%= image_tag asset_path('top_meals.png') %>
       <p>食事を記録する！</p>
    <% end %>
    <%= link_to weights_path, class: 'pt-4 btn md-3 btn-outline-dark btn-lg' do %>
      <%= image_tag asset_path('top_weights.png'), size: "130x180" %>
      <p>体重を記録する！</p>
    <% end %>
    <%= link_to conditions_path, class: 'btn mr-3 mt-3 btn-outline-dark btn-lg' do %>
      <%= image_tag asset_path('top_conditions.png') %>
      <p>お通じを記録する！</p>
    <% end %>
    <%= link_to diaries_path, class: 'btn mt-3 btn-outline-dark btn-lg' do %>
      <%= image_tag asset_path('top_diaries.png') %>
      <p>日記で交流する！</p>
    <% end %>
  </div>
  <div class="top-responsive">
    <%= link_to meals_path, class: 'btn btn-outline-dark btn-lg' do %>
      <i class="fa fa-utensils"></i> Meal
    <% end %>
    <%= link_to weights_path, class: 'btn btn-outline-dark btn-lg' do %>
      <i class="fa fa-weight"></i> Weight
    <% end %>
    <%= link_to conditions_path, class: 'btn btn-outline-dark btn-lg' do %>
      <i class="fa fa-heartbeat"></i> Health
    <% end %>
    <%= link_to diaries_path, class: 'btn btn-outline-dark btn-lg' do %>
      <i class="fa fa-book"></i> Diary
    <% end %>
  </div>
</div>