<div class="weight-index">
    <div class="weight-icon text-center">
      <% if @weights.empty? %>
        <p class="weight-text">体重を記録しまししょう！</p>
      <% else %>
        <p class="weight-text"><strong>現在の体重</strong></p>
        <%= @weights.last.value %>kg
       <% end %>
    </div>

    <div><%= image_tag asset_path('graph.png'), class: "mr-5 ml-5" %></div>

    <div class="weight-icon-gray text-center">
      <% unless @objective_weight.nil? %>
        <strong><p class="weight-text">目標まであと</p></strong>
        <%= -(@weights.last.value - @objective_weight) %>kg
      <% end %>
    </div>
</div>

<div class="container">

  <div class="justify-content-center">
    <%= render 'public/shared/error_messages', resource: @weight %>
  </div>
  <div class="justify-content-center row mt-5">
    <%= form_with model: @weight do |f| %>
      <!--<= render 'layouts/error_messages', model: f.object %>-->
      <%= f.label :value, '体重' %>
      <%= f.number_field :value, step: '0.1', placeholder: '例）70' %>
      <%= f.label :record_day, '日時' %>
      <%= f.date_field :record_day, value: Time.now.strftime("%Y-%m-%dT") %>
      <%= f.submit '投稿', class: 'btn btn-success' %>
    <% end %>
  </div>

  <div class="justify-content-center row">
    <!--グラフ部分-->
    <%= line_chart @graph,
    height: "300px",
    width: "600px",
    ytitle: "体重（kg）",
      legend: false,
      curve: false,
      colors: "#ffd1a3",
    min: 20, max: 90 %>
    <!--グラフ部分-->
  </div>

  <table class="table table-bordered text-center mt-5">
    <tr>
      <th>日付</th>
      <th>体重</th>
    </tr>
    <% @weights.each do |weight| %>
      <tr>
        <td><%= weight.record_day.strftime("%Y/%m/%d") %></td>
        <td>
          <%= weight.value %>kg
          <%= link_to edit_weight_path(weight.id) do %>
            <i class="fa fa-pen"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<div class="row justify-content-center"><%= paginate @weights %></div>


