<%= form_with model: @weight do |f| %>
    <!--<= render 'layouts/error_messages', model: f.object %>-->
    <%= f.label :value, '体重' %>
    <%= f.number_field :value, step: '0.1', placeholder: '例）70' %>
    <%= f.label :record_day, '日時' %>
    <%= f.date_field :record_day, value: Time.now.strftime("%Y-%m-%dT") %>
    <%= f.submit '投稿', class: 'waves-effect waves-light btn orange' %>
    <%= link_to 'キャンセル', root_path, class: 'waves-effect waves-light btn grey' %>
  <% end %>

<%= line_chart @graph, min: 20, max: 80 %>
<% @weights.each do |w| %>
<table class="table">
  <tr>
    <th>日付</th>
    <th>体重</th>
    <th></th>
  </tr>
  <tr>
    <td><%= w.record_day.strftime("%Y/%m/%d") %></td>
    <td><%= w.value %>kg</td>
    <td>
      <%= link_to '編集', edit_weight_path(w.id) %>
      <%= link_to '削除', weight_path(w.id), method: :delete %>
    </td>
  <br>
  </tr>
</table>
<% end %>