<% unless @lastest_condition.nil? %>
  前回のお通じから<%= time_ago_in_words(@lastest_condition.created_at) %>！
<% end %>
<br>
24~48時間前の食事↓<br>
<% @search_meals.each do |m| %>
  ・<%= m.meal_type_i18n %>
  <% m.meal_details.each do |d| %>
    <%= d.food.name %>
    <%= d.quantity %>
  <% end %>
  <%= link_to '食事詳細を見る', meal_path(m.id) %>
  <br>
<% end %>
<h1>体調の記録</h1>
<%= form_with model: @condition, local:true do |f| %>
<div class="fields">
  <%= f.label:お通じ %>
  <%= f.select :movement, Condition.movements_i18n.keys.map{|k| [I18n.t("enums.condition.movement.#{k}"), k]}, {prompt: '選択してください'} %>
</div>
<div class="fields">
  <%= f.label:気分 %>
   <%= f.select :feel, Condition.feels_i18n.keys.map{|k| [I18n.t("enums.condition.feel.#{k}"), k]}, {prompt: '選択してください'} %>
</div>
<div class="action">
  <%= f.submit '登録' %>
</div>
<% end %>

<% @conditions.each do |condition| %>
<%= time_ago_in_words(condition.created_at) %>前
<%= condition.movement_i18n %>
<%= condition.feel_i18n %>
<%= link_to '詳細', condition_path(condition.id) %>
<%= link_to '編集', edit_condition_path(condition.id) %>
<%= link_to '削除', condition_path(condition.id), method: :delete %>
<br>
<% end %>