<div class="container">
  <div class="selection-group">
    <% unless @lastest_condition.nil? %>
      <p>前回のお通じから<strong><%= time_ago_in_words(@lastest_condition.created_at) %></strong>が経っています</p>
    <% end %>
  </div>

  <div>
    <h5 class="text-center">24~48時間前の食事</h5>
    <% if @search_meals.empty? %>
      <p class="text-center">test!!!!!!!!!!!!!!!!!!</p>
    <% else %>
      <% @search_meals.each do |meal| %>
      ・<%= meal.meal_type_i18n %>
        <% meal.meal_details.each do |d| %>
          <%= d.food.name %>
          <%= d.quantity %>
        <% end %>
        <%= link_to '食事詳細を見る', meal_path(meal.id) %>
      <% end %>
    <% end %>
   </div>

    <hr>

  <%= render "public/shared/error_messages", resource: @condition %>
  <%= form_with model: @condition, local:true do |f| %>

    <h3 class="text-center mt-5">日付</h3>
    <div class="text-center">
      <%= f.label :日付 %>
      <%= f.date_select :start_time %>
    </div>

    <h3 class="text-center mt-5">どんなお通じでしたか？</h3>
    <div class="selection-group">

      <div class="movement-btn">
        <%= f.radio_button :movement, Condition.movements.key(0) %>
        <%= label :movement, 'コロコロ' %>
        <%= image_tag asset_path('icons/iwa.png'), size: "100x100", class: "label_img" %>
       </div>

      <div class="movement-btn">
        <%= f.radio_button :movement, Condition.movements.key(1) %>
        <%= label :movement, '硬め' %>
        <%= image_tag asset_path('icons/katame.png'), size: "100x100", class: "label_img" %>
      </div>

      <div class="movement-btn">
        <%= f.radio_button :movement, Condition.movements.key(2), checked: true %>
        <%= label :movement, 'バナナ' %>
        <%= image_tag asset_path('icons/banana.png'), size: "100x100", class: "label_img" %>
      </div>

      <div class="movement-btn">
        <%= f.radio_button :movement, Condition.movements.key(3) %>
        <%= label :movement, 'やわめ' %>
        <%= image_tag asset_path('icons/yawame.png'), size: "100x100", class: "label_img" %>
      </div>

      <div class="movement-btn">
        <%= f.radio_button :movement, Condition.movements.key(4) %>
        <%= label :movement, '水' %>
        <%= image_tag asset_path('icons/mizu.png'), size: "100x100", class: "label_img" %>
      </div>

    </div>

    <h3 class="text-center mt-5">今の気分は？</h3>
    <div class="selection-group">

      <div class="feel-btn">
        <%= f.radio_button :feel, Condition.feels.key(0) %>
        <%= label :feel, '悲しい' %>
        <%= image_tag asset_path('icons/sad.png'), size: "100x100", class: "label_img" %>
       </div>

      <div class="feel-btn">
        <%= f.radio_button :feel, Condition.feels.key(1), checked: true%>
        <%= label :feel, '普通' %>
        <%= image_tag asset_path('icons/normal.png'), size: "100x100", class: "label_img" %>
      </div>

      <div class="feel-btn">
        <%= f.radio_button :feel, Condition.feels.key(2) %>
        <%= label :feel, 'るんるん' %>
        <%= image_tag asset_path('icons/happy.png'), size: "100x100", class: "label_img" %>
      </div>

    </div>

    <div class="action text-center">
    <%= f.submit '登録', class: 'btn btn-success' %>
    </div>
  <% end %>

  <%= month_calendar events: @condition_all do |date, conditions| %>
    <%= date.day %>
    <% conditions.each do |condition| %>
      <div>
          <%= link_to '詳細', condition_path(condition) %>
          <% if condition.movement == 0 %>
            <%= image_tag asset_path('icons/iwa.png'), size: "40x40", class: "label_img" %>
          <% elsif condition.movement == 1 %>
            <%= image_tag asset_path('icons/katame.png'), size: "40x40", class: "label_img" %>
          <% elsif condition.movement == 2 %>
            <%= image_tag asset_path('icons/banana.png'), size: "40x40", class: "label_img" %>
          <% elsif condition.movement == 3 %>
            <%= image_tag asset_path('icons/yawame.png'), size: "40x40", class: "label_img" %>
          <% elsif %>
            <%= image_tag asset_path('icons/mizu.png'), size: "40x40", class: "label_img" %>
          <% end %>

          <% if condition.feel == 0 %>
            <%= image_tag asset_path('icons/sad.png'), size: "40x40", class: "label_img" %>
          <% elsif condition.feel == 1 %>
            <%= image_tag asset_path('icons/normal.png'), size: "40x40", class: "label_img" %>
          <% elsif %>
            <%= image_tag asset_path('icons/happy.png'), size: "40x40", class: "label_img" %>
          <% end %>

          <%= link_to edit_condition_path(condition.id) do %>
            <i class="fa fa-pen"></i>
          <% end %>

      </div>
    <% end %>
  <% end %>
</div>