<div class="container">

  <%= render 'public/meals/relation_meal', search_meals: @search_meals %>

  <table class="table table-bordered text-center mt-5">
    <tr>
      <th>お通じ</th>
      <th>気分</th>
    </tr>
    <tr>
      <td><%= @condition.movement_i18n %></td>
      <td><%= @condition.feel_i18n %></td>
    </tr>
  </table>

  <div class="selection-group">
    <%= link_to edit_condition_path(@condition.id), class: "mr-3" do %>
      <i class="fa fa-pen"></i>編集
    <% end %>
    <%= link_to '一覧へ', conditions_path %>
  </div>

</div>