<div class="container">

  <div>
    <h5 class="text-center">24~48時間前の食事</h5>
    <% if @search_meals.empty? %>
        <p class="text-center">test!!!!!!!!!!!!!!!!!!</p>
    <% else %>
      <% @search_meals.each do |meal| %>
      ・<%= meal.meal_type_i18n %>
        <% meal.meal_details.each do |d| %>
          <%= d.food.name %>
          <%= d.quantity %>
        <% end %>
        <%= link_to '食事詳細を見る', meal_path(meal.id) %>
      <% end %>
    <% end %>
   </div>

    <div>
        <% if @condition.movement == 0 then %>
        コロコロ
          <%= image_tag asset_path('icons/iwa.png'), size: "40x40", class: "label_img" %>
        <% elsif @condition.movement == 1 then %>
          硬め
          <%= image_tag asset_path('icons/katame.png'), size: "40x40", class: "label_img" %>
        <% elsif @condition.movement == 2 then %>
          バナナ
          <%= image_tag asset_path('icons/banana.png'), size: "40x40", class: "label_img" %>
        <% elsif @condition.movement == 3 then %>
          やわめ
          <%= image_tag asset_path('icons/yawame.png'), size: "40x40", class: "label_img" %>
        <% else %>
          水
          <%= image_tag asset_path('icons/mizu.png'), size: "40x40", class: "label_img" %>
        <% end %>

        <% if @condition.feel == 0 %>
          悲しい
          <%= image_tag asset_path('icons/sad.png'), size: "40x40", class: "label_img" %>
        <% elsif @condition.feel == 1 %>
          普通
          <%= image_tag asset_path('icons/normal.png'), size: "40x40", class: "label_img" %>
        <% else %>
          ハッピー
          <%= image_tag asset_path('icons/happy.png'), size: "40x40", class: "label_img" %>
        <% end %>
    </div>

    <div>
      <%= link_to edit_condition_path(@condition.id) do %>
        <i class="fa fa-pen"></i>編集
      <% end %>
    </div>

</div>