<div class="container mt-2">
  <h3 class="mini-title">新規会員登録</h3>
  <%= render "public/shared/error_messages", resource: resource %>
  <%= form_with model: @end_user, url: end_user_registration_path, id: 'new_customer', class: 'new_customer' do |f| %>
    <div class="form-group row">
      <%= f.label :name, '名前', class: "col-3" %>
      <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control col-lg-5" %>
    </div>

    <div class="form-group row">
      <%= f.label :nickname, 'ニックネーム', class: "col-3" %>
      <%= f.text_field :nickname, class: "form-control col-lg-5"  %>
    </div>

    <div class="form-group row">
      <%= f.label :age, '年齢', class: "col-3" %>
      <%= f.text_field :age, class: "form-control col-lg-5"  %>
    </div>

    <div class="form-group row">
      <%= f.label :gender,'性別', class: "col-3" %>
      <%= f.select :gender, EndUser.genders_i18n.keys.map{|k| [I18n.t("enums.end_user.gender.#{k}"), k]}, {prompt: '選択してください'}, class: "form-control col-lg-5"  %>
    </div>

    <div class="form-group row">
      <%= f.label :height, '身長', class: "col-3" %>
      <%= f.text_field :height, class: "form-control col-lg-5"  %>
    </div>

    <div class="form-group row">
      <%= f.label :start_weight, '現在の体重', class: "col-3" %>
      <%= f.text_field :start_weight, class: "form-control col-lg-5"  %>
    </div>

    <div class="form-group row">
      <%= f.label :objective_weight, '目標の体重', class: "col-3" %>
      <%= f.text_field :objective_weight, class: "form-control col-lg-5"  %>
    </div>

    <div class="form-group row">
      <%= f.label :email, 'メールアドレス', class: "col-3" %>
      <%= f.email_field :email, autocomplete: "email", class: "form-control col-lg-5"  %>
    </div>

    <div class="form-group row">
      <%= f.label :password, 'パスワード（６文字以上）',class: "col-3" %>
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control col-lg-5"  %>
    </div>

    <div class="form-group row">
      <%= f.label :password_confirmation, class: "col-3" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control col-lg-5"  %>
    </div>

    <div class="actions text-center">
      <%= f.submit "新規登録" , class: 'btn btn-sm btn-success col-lg-2 text-center',style: "color:white;"%>
    </div>

  <% end %>
</div>

<div class="field mx-auto text-center mt-5 md-5">
  既に登録済みの方はこちらから <%= render "public/shared/links" %>
</div>