<% if diary_comments.empty? %>
  <p>コメントはまだありません</p>
<% else %>
  <table>
    <tbody>
        <% diary_comments.each do |diary_comment| %>
        <tr>
          <td>
            <% if diary_comment.end_user.nickname.empty? %>
              匿名希望さん
            <% else %>
              <%= link_to end_user_path(diary_comment.end_user) do %>
                <%= diary_comment.end_user.name %>
              <% end %>
            <% end %>
          </td>
          <td><%= diary_comment.comment %></td>
          <td>
            <% if diary_comment.end_user == current_end_user %>
              <%= link_to "Destroy", diary_diary_comment_path(diary, diary_comment), method: :delete, remote: true, class: "btn btn-danger pull-right" %>
            <% else %>
              <%= render 'public/reports/btn', diary_comment: diary_comment, diary: diary %>
            <% end %>
          </td>
        </tr>
        <% end %>
    </tbody>
  </table>
<% end %>