<div>
  <%= link_to end_user_path(end_user) do %>
    <%= image_tag end_user.get_profile_image(50,50), class: "rounded-circle"  %>
  <% end %>
  <%= end_user.diary_name(end_user) %>&emsp;
  <%= end_user.gender_i18n %>&emsp;
  <%= end_user.age %>歳&emsp;
  <%= end_user.height %>cm&emsp;
  <% if Weight.where(end_user_id: end_user.id).order(record_day: :asc).last.nil? %>
    <%= end_user.start_weight %>kg
  <% else %>
    <%= Weight.where(end_user_id: end_user.id).order(record_day: :asc).last.value %>kg
  <% end %>
</div>