<div class="container">
  <div class="selection-group">
    <div class="w-100">
      <%= render "public/shared/error_messages", resource: @diary %>
      <%= form_with model: @diary, local:true do |f| %>
        <div class="form-group">
          <%= f.label :タイトル %>
          <%= f.text_field :title, class: "form-control" %>
        </div>
        
        <div class="form-group">
          <%= f.label :本文 %>
          <%= f.text_area :body, class: "form-control", size: "40x10" %>
        </div>
        
        <div>
         <%= f.label :is_published_flag, "公開", value: true %>
         <%= f.radio_button :is_published_flag, 'true' %>
         <%= f.label :is_published_flag, "非公開", value: false %>
         <%= f.radio_button :is_published_flag,'false' %>
       </div>
        
        <div class="text-center">
          <%= f.submit '更新する', class: 'btn btn-info text-center',style: "color:white;" %>
          <%= link_to 'キャンセル', diary_path(@diary), class: 'waves-effect waves-light btn grey' %>
        </div>
      <% end %>
      
      <div class="justify-content-center row">
        <%= link_to diary_path(@diary.id), method: :delete, class: "btn btn-danger col-lg-3 mt-3", data: { confirm: '本当に削除しますか？' } do %>
          <i class="fas fa-trash"></i>削除する
        <% end %>
      </div>
    </div>
  </div>
</div>