<div class="container">

  <div class="justify-content-end row mt-5">
    <%= render 'public/searches/form' %>
  </div>

  <div class="selection-group">
    <%= render "public/shared/error_messages", resource: @diary %>
    <div class="mr-5"><%= image_tag asset_path('diary.png'), size: "300x200" %></div>
    <div class="w-100">
      <%= form_with model: @diary, local:true do |f| %>
        <div class="form-group">
          <%= f.label :title, 'タイトル' %>
          <%= f.text_field :title, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :body, '本文' %>
          <%= f.text_area :body, class: "form-control" %>
        </div>
        <%= f.submit '投稿', class: 'btn btn-info text-center',style: "color:white;" %>
      <% end %>
      </div>
    </div>


    <h3 class="mini-title text-center">New Diary</h3>
    <%= render 'public/diaries/index', diaries: @diaries %>

</div>