<div class="container">
  <% if @diary_user == current_end_user %>
    <h3 class="mini-title text-center">My Diary</h3>
    <div class="text-center">
      <%= link_to "公開", "/personal_index/#{current_end_user.id}/?option=A" %><span>｜</span>
      <%= link_to " 非公開", "/personal_index/#{current_end_user.id}/?option=B" %>
    </div>

  <% else %>
    <h3 class="mini-title text-center"><%= @diary_user.nickname %>さんの Diary</h3>
  <% end %>

  <div class="justify-content-center row mt-5">
    <%= render 'public/diaries/diary_profile', end_user: @diary_user %>
  </div>
      <% if @diaries.empty? %>
        <p class="text-center">日記はまだありません。</p>
      <% else %>

        <% @diaries.each do |diary| %>
          <div class="box">
            <div class="selection-group"><%= diary.created_at.strftime("%Y年%m月%d日(%a) %H:%m") %></div>
              <div class="selection-group">
                <div class="title">
                  <%= diary.title %>
                  <% if diary.is_published_flag == false %>
                    <i class="fas fa-eye-slash"></i>
                  <% end %>
                </div>
                <div class="ml-2" id ="favorite_btn_<%= diary.id %>">
                  <%= render 'public/favorites/btn', diary: diary %>
                </div>
                <div class="ml-2">
                  <%= render 'public/diary_comments/comment_count', diary_comment: diary.diary_comments, diary: diary %>
                </div>
              </div>
              <div class="ml-5 mr-5 text-center"><%= diary.body %></div>
          </div>
        <% end %>

      <% end %>

      <div class="row justify-content-center"><%= paginate @diaries %></div>

  </div>