<% if @diary.end_user.nickname.empty? %>
  匿名希望さん
<% else %>
  <%= @diary.end_user.nickname %>
<% end %>
<%= @diary.end_user.gender_i18n %>
<%= @diary.title %>
<%= @diary.body %>
<%= link_to '編集', edit_diary_path(@diary) %>
<div id ="favorite_btn">
  <%= render 'public/favorites/btn', diary: @diary %>
</div>
<div id="comment_index">
  <%= render 'public/diary_comments/comment_index', diary: @diary, diary_comments: @diary_comments %>
</div>
<div id ="comment_form">
  <%= render 'layouts/error_messages', model: @diary %>
  <%= render 'public/diary_comments/form', diary: @diary, diary_comment: @diary_comment %>
</div>
