<ul class="navbar-nav ml-auto">
  <li class="nav-item active mr-3">
    <%= link_to '管理者トップ', admin_path %>
  </li>
  <li class="nav-item active mr-3">
    <%= link_to '会員一覧', admin_end_users_path %>
  </li>
  <li class="nav-item active mr-3">
    <%= link_to '食品一覧', admin_foods_path %>
  </li>
  <li class="nav-item active mr-3">
    <%= link_to 'コメント一覧', admin_diary_comments_path %>
  </li>
  <li class="nav-item active mr-3">
    <%= link_to '管理者ログアウト', destroy_admin_session_path, method: :delete %>
  </li>
</ul>