<ul class="navbar-nav ml-auto">
  <li class="nav-item active mr-3">
    <%= link_to meals_path do %>
      <%= image_tag asset_path('meal_header.png') %> Meal
    <% end %>
  </li>
  <li class="nav-item active mr-3">
    <%= link_to 'Weight', weights_path %>
  </li>
  <li class="nav-item active mr-3">
    <%= link_to 'Health', conditions_path %>
  </li>
  <li class="nav-item active mr-3">
    <%= link_to 'Diary', diaries_path %>
  </li>
  <li class="nav-item active mr-3">
    <%= link_to 'User', end_users_path %>
  </li>
  <li class="nav-item active mr-3">
    <%= link_to end_user_path(current_end_user) do %>
      <!--<i class="fas fa-user-cog"></i>-->
      My Page
    <% end %>
  </li>
  <li class="nav-item active mr-3 header-icon">
    <%= link_to destroy_end_user_session_path, method: :delete, data: { confirm: 'ログアウトしますか？' } do %>
      <!--<i class="fas fa-sign-out-alt"></i>-->
      Log Out
    <% end %>
  </li>
</ul>