<!DOCTYPE html>
<html>
  <head>
    <title>Moglog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'public', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <br>
    <header class="sticky-top p-0" >
      <nav class="navbar navbar-expand-lg navbar-light text-dark">
        <div class="container">
          <a class="navbar-brand" href="/"><%= image_tag asset_path('logo.png'), size: "100x50" %><%= image_tag asset_path('logo-icon.png'), size: "50x50" %></a>
          <!--ハンバーガーメニュー-->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!--ハンバーガーメニュー-->
          <div class="collapse navbar-collapse col-xl-10 text-dark" id="navbarNavDropdown">
          <% if end_user_signed_in? %>
          <!--メンバー-->
            <%= render 'layouts/member_header'%>
          <% elsif admin_signed_in? %>
          <!--管理者-->
            <%= render 'layouts/admin_header'%>
          <% else %>
          <!--ゲスト-->
            <%= render 'layouts/gest_header'%>
          <% end %>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <!--devise専用-->
      <p class="notice text-center text-success "><strong><%= notice %></strong></p>
      <p class="alert text-center text-danger"><strong><%= alert %></p></strong>

      <%= yield %>
    </main>

    <footer class="text-center">© moglog 2022.06</footer>

  </body>
</html>
