<!DOCTYPE html>
<html>
  <head>
    <title>Moglog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <%= link_to 'ログイン', new_end_user_session_path %>
    <%= link_to '新規登録', new_end_user_registration_path %>
    <%= link_to 'ログアウト', destroy_end_user_session_path, method: :delete %>
  </body>
</html>
